* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.board {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 50vh;
    border: 1px dotted black;
    flex-flow: row wrap;
}

.cell {
    width: 33%;
    height: 33%;
    border: 1px solid #cccccc;
}

.cell__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #cccccc;
    font-size: 100px;
}
